*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(https://rollingstone.uol.com.br/media/uploads/2023/02/creed-3-iii-filme-michael-b-jordan-jonathan-majors-foto-divulgacao.jpg);
    background-position: center;
    display: grid;
    grid-template-rows: 100px 1fr;
}
header{

    display: flex;
background-color: transparent;
color: white;
}


h2{
    display: flex;
    flex-direction: row;
    word-spacing: 20vh;
    margin-left: 20px;
}

main{
    display: grid;
    color: white;

}


.logo__creed{
   display: flex;
   width: -10px;
   margin-left: 20px;
   margin-bottom: 0px;
}

.logo__container{

    display: grid;
    align-self: right;
    row-gap:10vh ;
position: fixed;
left: 90%;
bottom: 20%;
}
.info__text{

    display: flex;
    width: 750px;
    margin-left: 30px;
    text-align: left;
    margin-top: -40px;
}

    

.thumbnail{
    display: flex-start;
    width: 200px;
    margin-bottom: -5px;
    margin-left: 20px;
}

    






/* 

  

body{
background-image: url(https://rollingstone.uol.com.br/media/uploads/2023/02/creed-3-iii-filme-michael-b-jordan-jonathan-majors-foto-divulgacao.jpg);
background-position: center;
display: grid ;
grid-template-rows: 100px 1fr 100px;
margin-left:100px;


}
header{
    display: flex;
    gap: 16px;
   color:white ;
   margin-left: 100px;
   word-spacing: 15vh;

}

.creed__loguinho{

    margin-right: 90px;
}
main{

    display: grid;
    grid-template-columns:2fr 1fr ;
    grid-template-rows: 2fr 1fr;
    height: 300px;
}
p{
    font-size: 20px;
    width: 50px;
    color: white;
 
}
.info__text{
    text-align: left;
    width: 850px;
    
}

.logo__creed{


}


.logo__container{

    display: flex;
    position: relative;
    word-spacing: 150px;
    align-items: right;
    color: white;
    margin-left: 100px;
    margin-top: 300px;
    

}.vds{

    display: grid;
    width: 100px;
   
}

.v1{

    margin-left: 1200px;
        margin-top: -300px;
        width: 10px;
        display: flex;
        height: 150px;
}
.v2{
    margin-left: 1200px;
    margin-top: -90px;
    margin-bottom: 100px;
    width: 50px;
    display: flex;
    height: 150px;
}

.v3{
    margin-left: 1200px;
        margin-top: -39px;
        
        width: 10px;
        display: flex;
        height: 150px;
}

 */
